body{
	font-weight: normal;
	color: #333333;
	font-family: メイリオ;
	font-size: 16px;
}
img{
	width: 100%;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 20px;
	margin-bottom: 50px;
}

.header_box{
	width: 35%;
	display: flex;
	justify-content: space-between;
}

.header_box_left{
	width: 100%;
	padding: 15px 0;
	background-color: #ff3366;
	color: white;
	font-size: 10px;
	text-align: center;
}
.header_box_right{
	width: 100%;
	padding: 15px 0;
	margin-left: 15px;
	background-color: green;
	color: white;
	font-size: 10px;
	text-align: center;
}

header h1{
	font-size: 22px;
}

.menu{
	width: 100%;
	text-align: -webkit-center;
}

.menu ul{
	width: 80%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 30px;
}

.info{
	margin: 70px 0;
}

.input{
	width: 60%;
	align-items: center;
}
.input_border{
	border: ridge;
	padding: 10px 0;
}


.input_text{
	margin-left: 5px;
	border: gray;
	
}

.sec01{
	text-align: center;
}
.sec01 h2{
	margin-bottom: 20px;
}
.sec01 p{
	font-size: 12px;
}

.contact_form{
	margin: 0 15px;
	border-top: inset;
	border-bottom: inset;
}

.item{
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 50px;
}

.content{
	width: 40%;
	align-items: center;
}


.caution{
	color: white;
	background-color: #ff3366;
	padding: 5px 5px;
	font-size: 12px;
	margin-left: 20px;
}

.check{
	color: green;
}

.confirmation{
	
	
	margin-top: 50px;
	padding: 10px 0;
	color: white;
	background-color: green;
}

.confirmation_border{
	width: 50%;
	align-items: center;
	text-align: center;
}


